In [1]:
print('starting demo...')

starting demo...

In [2]:
import requests

In [3]:
url = 'http://example.com'

r = requests.get(url)

In [5]:
from requests import Response

In [4]:
r

In [6]:
class Demo:
    def __init__(self):
        pass

d = Demo()
d

Dataclasses

In [13]:
# normal classes
class Animal:

    def __init__(self, name, age):
        if (not (isinstance(name, str)) or not (isinstance(age, int))):
            raise("name or age is incorrect type")
        self.name = name
        self.age = age
    
    def __repr__(self):
        return(f'Animal name = {self.name} age = {self.age}')

In [16]:
from dataclasses import dataclass

In [17]:
@dataclass
class Animal:
    name: str
    age: int

In [19]:
fido = Animal('fido', 'seven')
fido

Animal(name='fido', age='seven')

In [15]:
badcat = Animal('badcat', 6)
badcat

Animal name = badcat age = 6

In [21]:
fido.age

'seven'

In [22]:
fido.name

'fido'

In [23]:
badcat.name

'badcat'

In [25]:
fancycat = Animal(age = 5, name="fancy")
fancycat.name

'fancy'

Datetime

In [26]:
import datetime

In [27]:
dt1 = datetime.datetime.now()
dt1

datetime.datetime(2022, 12, 14, 14, 8, 59, 79458)

In [28]:
type(dt1)

datetime.datetime

In [36]:
d = dt1.date()

In [37]:
d

datetime.date(2022, 12, 14)

In [39]:
d.ctime()

'Wed Dec 14 00:00:00 2022'

In [43]:
d.year
d.month

12

In [44]:
d1 = datetime.date(2022,12,14)
d2 = datetime.date(2022,10,31)

In [45]:
d1, d2

(datetime.date(2022, 12, 14), datetime.date(2022, 10, 31))

In [46]:
d1 - d2

datetime.timedelta(days=44)